---
import DevelopingHint from "../cards/DevelopingHint.astro";
import ProjectCard from "../cards/ProjectCard.astro";
---

<ProjectCard href="#">
  <p class="mt-6 text-2xl md:text-lg md:mt-3 font-bold">Conovel - 分支小说编辑/发布平台</p>
  <DevelopingHint />
</ProjectCard>