<div
  class={`
    developing-hint
    absolute
    flex
    justify-center
    items-center
    bg-yellow-500
    py-2
    font-bold
    text-white
    text-xl
    tracking-widest
  `}
>
  <p>开发中</p>
</div>

<style>
  .developing-hint {
    transform: rotate(-30deg);
    left: -20%;
    right: -20%;
  }
</style>