---
import ProjectCard from "./ProjectCard.astro";
---

<ProjectCard href="https://enc.sheason.site">
  <svg
    height="45%"
    viewBox="0 0 579 579"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <circle cx="289.5" cy="289.5" r="289.5" fill="#6750A4"></circle>
    <path
      d="M101.348 358V221.273H196.683V248.111H134.395V276.151H191.81V303.055H134.395V331.162H196.683V358H101.348ZM333.744 221.273V358H305.705L251.294 279.088H250.426V358H217.379V221.273H245.82L299.629 300.051H300.764V221.273H333.744ZM478.633 270.81H445.252C444.807 267.383 443.895 264.289 442.515 261.53C441.136 258.77 439.311 256.411 437.041 254.453C434.771 252.495 432.078 251.004 428.963 249.98C425.892 248.912 422.487 248.378 418.748 248.378C412.117 248.378 406.397 250.002 401.591 253.251C396.828 256.5 393.156 261.196 390.575 267.338C388.038 273.48 386.77 280.913 386.77 289.636C386.77 298.716 388.06 306.327 390.642 312.469C393.268 318.566 396.94 323.173 401.657 326.288C406.42 329.359 412.05 330.895 418.548 330.895C422.198 330.895 425.513 330.428 428.495 329.493C431.522 328.558 434.17 327.201 436.44 325.42C438.754 323.596 440.646 321.393 442.115 318.811C443.628 316.185 444.674 313.225 445.252 309.932L478.633 310.132C478.055 316.185 476.297 322.149 473.359 328.024C470.466 333.899 466.483 339.262 461.409 344.114C456.335 348.92 450.148 352.748 442.849 355.597C435.594 358.445 427.271 359.869 417.88 359.869C405.507 359.869 394.425 357.154 384.633 351.724C374.886 346.25 367.186 338.283 361.534 327.824C355.881 317.365 353.055 304.635 353.055 289.636C353.055 274.593 355.926 261.841 361.667 251.382C367.409 240.923 375.175 232.978 384.967 227.548C394.759 222.118 405.73 219.403 417.88 219.403C426.159 219.403 433.814 220.561 440.846 222.875C447.878 225.145 454.065 228.483 459.406 232.889C464.747 237.251 469.086 242.614 472.424 248.979C475.762 255.343 477.832 262.62 478.633 270.81Z"
      fill="white"></path>
  </svg>
  <p class="mt-6 text-2xl md:text-lg md:mt-3 font-bold">ENC - 分布式社群</p>
</ProjectCard>
