---
import DevelopingHint from "./DevelopingHint.astro";
import ProjectCard from "./ProjectCard.astro";
---

<ProjectCard href="#">
  <p class="mt-6 text-2xl md:text-lg md:mt-3 font-bold">Focusproj - 实时项目追踪工具</p>
  <DevelopingHint />
</ProjectCard>