---
interface Props {
  href: string;
}
const { href } = Astro.props;
---

<a
  class={`
		aspect-video
		flex
		flex-col
		justify-center
		items-center
		border
		rounded-md
		m-2
		shadow
		relative
		bg-slate-200
		cursor-pointer
		hover:shadow-lg
		transition-shadow
		overflow-hidden
		p-3
		`}
  href={href}
>
  <slot />
</a>
